<h1>Are you sure you want to deactivate your account?</h1>
<h2>You may miss out on amazing events near you!</h2>
<h5>Click button to confirm</h5>
<%= button_to "Deactivate Profile", "/timer", method: "get"%>
